<template>
  <md-content class="p-1">
    <md-card v-for="(number, key, index) in attributes" :key="key+index" v-if="number.type ==='boolean'" class="mtb-2">
        <md-card-header>
          <md-switch v-model="number.modeState" class="float-r" :disabled="deviceState"></md-switch>
          <div class="md-title">{{ key }}</div> 
        </md-card-header>

        
        <md-card-content>
          <div class="md-layout-item">
            <md-field>
              <label for="mode">Choose a sending mode</label>
              <md-select v-model="number.mode" name="mode" id="mode" :disabled="deviceState">

                <md-option value="toogle">Toogle</md-option>

                <md-option value="pattern">pattern</md-option>
              </md-select>
            </md-field>
          </div>

          <div v-if="number.mode === 'constant'">
        <b v-if="!number.value">false</b><span v-if="number.value">false</span>
        <md-switch v-model="number.value"></md-switch>
        <b v-if="number.value">true</b><span v-if="!number.value">true</span>
            <md-field>
              <label>choose a sending interval</label>
              <md-input v-model="number.interval" type="number" placeholder="choose a sending interval" :disabled="deviceState" required></md-input>
              <span class="md-suffix">seconds</span>
            </md-field>
          </div>

          <div v-if="number.mode === 'toogle'">
            <md-field>
              <label>choose a sending interval</label>
              <md-input v-model="number.interval" type="number" placeholder="choose a sending interval" :disabled="deviceState" required></md-input>
              <span class="md-suffix">seconds</span>
            </md-field>
          </div>


          <div v-if="number.mode === 'pattern'">
            <md-field>
              <label>type in a pattern of numbers and seperate them with #</label>
              <md-input v-model="number.pattern" type="text" placeholder="type in a pattern of numbers and seperate them with #" :disabled="deviceState"></md-input>
            </md-field>

            <md-field>
              <label>choose a sending interval</label>
              <md-input v-model="number.interval" type="number" placeholder="choose a sending interval" :disabled="deviceState" required></md-input>
              <span class="md-suffix">seconds</span>
            </md-field>
          </div>
        </md-card-content>
    </md-card>
  </md-content>
</template>

<script>
let tasks = {};
export default {
  name: "BooleanAttr",
  data() {
    return {
      mode: ""
    };
  },
  methods: {},
  props: ["deviceId", "attributes", "deviceState"],
  watch: {
    deviceState: {
      handler: function(deviceState) {
        Object.keys(this.attributes).forEach(key => {
          // toogle
          if (
            this.attributes[key].modeState === true &&
            deviceState === true &&
            this.attributes[key].type === "boolean"
          ) {
            let interval = 2000;

            if (
              !this.attributes[key].interval === "undefined" ||
              this.attributes[key].interval >= 1
            ) {
              interval = this.attributes[key].interval * 1000;
            }
            // set the task for the constant sending
            if (this.attributes[key].mode === "toogle") {
              this.attributes[key].value = false;

              // initialize waveValue

              tasks[key] = setInterval(() => {
                this.attributes[key].value = !this.attributes[key].value;

                let payload = {
                  senderId: this.deviceId,
                  deviceId: this.deviceId,
                  type: "attributes",
                  value: { [key]: this.attributes[key].value }
                };

                this.$axios
                  .post("https://api.preview.oltd.de/v1/data-ingest", payload)
                  .then(function(response) {
                    console.log(
                      "Sent --> " + key + " with " + payload.value[key]
                    );
                  });
              }, this.attributes[key].interval * 1000);
            }
          } else {
            clearInterval(tasks[key]);
            delete tasks[key];
          }

          //pattern
          if (
            this.attributes[key].modeState === true &&
            deviceState === true &&
            this.attributes[key].type === "boolean"
          ) {
            let interval = 2000;

            if (
              !this.attributes[key].interval === "undefined" ||
              this.attributes[key].interval >= 1
            ) {
              interval = this.attributes[key].interval * 1000;
            }
            // set the task for the constant sending
            if (this.attributes[key].mode === "pattern") {
              // initialize run var
              this.attributes[key].i = -1;

              let pattern = this.attributes[key].pattern;
              pattern = pattern.split("#");
              pattern = pattern.map(value => {
                if (value === "1") {
                  return true;
                } else {
                  return false;
                }
              });

              tasks[key] = setInterval(() => {
                if (this.attributes[key].i === pattern.length - 1) {
                  this.attributes[key].i = 0;
                } else {
                  this.attributes[key].i++;
                }

                let payload = {
                  senderId: this.deviceId,
                  deviceId: this.deviceId,
                  type: "attributes",
                  value: { [key]: pattern[this.attributes[key].i] }
                };

                this.$axios
                  .post("https://api.preview.oltd.de/v1/data-ingest", payload)
                  .then(function(response) {
                    console.log(
                      "Sent --> " + key + " with " + payload.value[key]
                    );
                  });
              }, this.attributes[key].interval * 1000);
            }
          } else {
            clearInterval(tasks[key]);
            delete tasks[key];
          }
        });
      },
      deep: true
    }
  }
};
</script>

<style>
.float-r {
  float: right;
}
.p-1 {
  padding: 10px;
}
.mtb-2 {
  margin: 20px 0;
}
</style>

