<template>

  <div>
    <md-field>
      <label>Enter your token, from the developer dashbord</label>
      <md-textarea v-model="token" required></md-textarea>
    </md-field>

  
    <div v-if="token">
    <md-table v-model="searched"  md-sort="name" md-sort-order="asc" md-card md-fixed-header  @md-selected="onSelect">
      <md-table-toolbar>
        <div class="md-toolbar-section-start">
          <h1 class="md-title">Select a device</h1>
        </div>

        <md-field md-clearable class="md-toolbar-section-end">
          <md-input placeholder="Search by device name..." v-model="search" @input="searchOnTable" />
        </md-field>
      </md-table-toolbar>

      <md-table-empty-state
        md-label="No users found"
        :md-description="`No device found for this '${search}' query.`">
      </md-table-empty-state>
      <!-- TODO: Name sortierung funktioniert nicht mehr fixen! -->
      <md-table-row slot="md-table-row" slot-scope="{ item }" :class="getClass(item)" md-selectable="single">
        <md-table-cell md-label="Name" md-sort-by="name">{{ item.info.name }}</md-table-cell>
        <md-table-cell md-label="Id" md-sort-by="id">{{ item.id }}</md-table-cell>
        <md-table-cell md-label="Tags">
          <md-chip v-for="(tag, index) in item.info.tags" :key="(tag+index)">{{tag}}</md-chip>
          </md-table-cell>
      </md-table-row>
    </md-table>

    <br v-if="selected">

    <div v-if="selected">
        <selectedDevice :device="selected" :deviceType="deviceType"></selectedDevice>
    </div>
    

    <!-- Snackbar in case of an API error -->
    <form novalidate @submit.stop.prevent="showSnackbar = true">
      <md-snackbar :md-position="position" :md-duration="isInfinity ? Infinity : duration" :md-active.sync="showSnackbar" md-persistent>
        <span>Coudn't load devices from the OLT platform, please check your token.</span>
      </md-snackbar>
    </form>

  </div>
  </div>
  
</template>

<script>
// table search
const toLower = text => {
  return text.toString().toLowerCase();
};
const searchByName = (items, term) => {
  if (term) {
    return items.filter(item =>
      toLower(item.info.name).includes(toLower(term))
    );
  }
  return items;
};

import SelectedDevice from "./SelectedDevice";

export default {
  components: {
    SelectedDevice
  },
  name: "Index",
  data() {
    return {
      devices: [],
      deviceType: null,
      search: null,
      searched: [],
      selected: null,
      showSnackbar: false,
      position: "center",
      duration: 100000,
      isInfinity: false,
      token: null
    };
  },
  methods: {
    searchOnTable() {
      this.searched = searchByName(this.devices, this.search);
    },
    getClass: ({ id }) => ({
      "md-primary": id === 2,
      "md-accent": id === 3
    }),
    onSelect(item) {
      this.selected = item;

      if (item !== null) {
        this.$axios
          .get(
            "https://api.preview.oltd.de/v1/device-types/" +
              item.info.deviceTypeId
          )
          .then(resType => {
            this.deviceType = resType;
          })
          .catch(err => {
            console.log(err);
          });
      }
    }
  },
  created() {},
  watch: {
    token: function() {
      this.$axios.defaults.headers.post["Authorization"] =
        "Bearer " + this.token; // for POST requests
      this.$axios.defaults.headers.common["Authorization"] =
        "Bearer " + this.token; // for all requests

      this.$axios
        .get("https://api.preview.oltd.de/v1/devices")
        .then(response => {
          this.devices = response.data.data;
          this.searched = response.data.data;
        })
        .catch(err => {
          this.showSnackbar = true;
        });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.bb-1 {
  border-bottom: 1px solid grey;
}
</style>
