<template>
  <md-content class="p-1">
    <md-card v-for="(number, key, index) in attributes" :key="key+index" v-if="number.type ==='number'" class="mtb-2">
        <md-card-header>
          <md-switch v-model="number.modeState" class="float-r" :disabled="deviceState"></md-switch>
          <div class="md-title">{{ key }}</div> 
        </md-card-header>

        
        <md-card-content>
          <div class="md-layout-item">
            <md-field>
              <label for="mode">Choose a sending mode</label>
              <md-select v-model="number.mode" name="mode" id="mode" :disabled="deviceState">
                <md-option value="constant" o>Constant</md-option>
                <md-option value="waveForms">Cosinus Wave</md-option>
                <md-option value="random">Random</md-option>
                <md-option value="pattern">pattern</md-option>
              </md-select>
            </md-field>
          </div>

          <!-- Constant Mode -->
          <div v-if="number.mode === 'constant'">
            <md-field>
              <label>choose a value</label>
              <md-input v-model="number.value" type="number" placeholder="choose a value" :disabled="deviceState" required></md-input>
            </md-field>

            <md-field>
              <label>choose a sending interval</label>
              <md-input v-model="number.interval" type="number" placeholder="choose a sending interval" :disabled="deviceState" required></md-input>
              <span class="md-suffix">seconds</span>
            </md-field>
          </div>

          <div v-if="number.mode === 'waveForms'">
            <md-field>
              <label>choose value steps</label>
              <md-input v-model="number.waveStep" type="number" placeholder="choose x-axis step" :disabled="deviceState" required></md-input>
            </md-field>

            <md-field>
              <label>value offset (y-axis cosinus)</label>
              <md-input v-model="number.valueOffset" type="number" placeholder="define an offset" :disabled="deviceState" required></md-input>
            </md-field>

            <md-field>
              <label>choose a sending interval</label>
              <md-input v-model="number.interval" type="number" placeholder="choose a sending interval" :disabled="deviceState" required></md-input>
              <span class="md-suffix">seconds</span>
            </md-field>
          </div>

          <div v-if="number.mode === 'random'">
            <md-field>
              <label>choose value steps</label>
              <md-input v-model="number.randomMin" type="number" placeholder="choose the lower limit" :disabled="deviceState" required></md-input>
            </md-field>

            <md-field>
              <label>choose value steps</label>
              <md-input v-model="number.randomMax" type="number" placeholder="choose the maxmimum limit" :disabled="deviceState" required></md-input>
            </md-field>

            <md-field>
              <label>choose a sending interval</label>
              <md-input v-model="number.interval" type="number" placeholder="choose a sending interval" :disabled="deviceState" required></md-input>
              <span class="md-suffix">seconds</span>
            </md-field>
          </div>

          <div v-if="number.mode === 'pattern'">
            <md-field>
              <label>type in a pattern of numbers and seperate them with #</label>
              <md-input v-model="number.pattern" type="text" placeholder="type in a pattern of numbers and seperate them with #" :disabled="deviceState" required></md-input>
            </md-field>

            <md-field>
              <label>choose a sending interval</label>
              <md-input v-model="number.interval" type="number" placeholder="choose a sending interval" :disabled="deviceState" required></md-input>
              <span class="md-suffix">seconds</span>
            </md-field>
          </div>
        </md-card-content>
    </md-card>
  </md-content>
</template>

<script>
let tasks = {};
export default {
  name: "NumberAttr",
  data() {
    return {
      mode: ""
    };
  },
  props: ["deviceId", "attributes", "deviceState"],
  watch: {
    deviceState: {
      handler: function(deviceState) {
        Object.keys(this.attributes).forEach(key => {
          if (
            this.attributes[key].modeState === true &&
            deviceState === true &&
            this.attributes[key].type === "number"
          ) {
            // set the task for the constant sending
            let interval = 2000;

            if (
              !this.attributes[key].interval === "undefined" ||
              this.attributes[key].interval >= 1
            ) {
              interval = this.attributes[key].interval * 1000;
            }

            if (this.attributes[key].mode === "constant") {
              tasks[key] = setInterval(() => {
                let payload = {
                  senderId: this.deviceId,
                  deviceId: this.deviceId,
                  type: "attributes",
                  value: { [key]: parseFloat(this.attributes[key].value) }
                };
                this.$axios
                  .post("https://api.preview.oltd.de/v1/data-ingest", payload)
                  .then(function(response) {
                    console.log(
                      "Sent --> " + key + " with " + payload.value[key]
                    );
                  });
              }, interval);
            }
          } else {
            clearInterval(tasks[key]);
            delete tasks[key];
          }

          // waveForms
          if (
            this.attributes[key].modeState === true &&
            deviceState === true &&
            this.attributes[key].type === "number"
          ) {
            let interval = 2000;

            if (
              !this.attributes[key].interval === "undefined" ||
              this.attributes[key].interval >= 1
            ) {
              interval = this.attributes[key].interval * 1000;
            }
            // set the task for the constant sending
            if (this.attributes[key].mode === "waveForms") {
              this.attributes[key].waveValue = 0;

              // initialize waveValue

              tasks[key] = setInterval(() => {
                this.attributes[key].waveValue += parseFloat(
                  this.attributes[key].waveStep
                );

                let payload = {
                  senderId: this.deviceId,
                  deviceId: this.deviceId,
                  type: "attributes",
                  value: {
                    [key]:
                      Math.cos(this.attributes[key].waveValue) +
                      parseFloat(this.attributes[key].valueOffset)
                  }
                };

                this.$axios
                  .post("https://api.preview.oltd.de/v1/data-ingest", payload)
                  .then(function(response) {
                    console.log(
                      "Sent --> " + key + " with " + payload.value[key]
                    );
                  });
              }, this.attributes[key].interval * 1000);
            }
          } else {
            clearInterval(tasks[key]);
            delete tasks[key];
          }

          //random number
          if (
            this.attributes[key].modeState === true &&
            deviceState === true &&
            this.attributes[key].type === "number"
          ) {
            let interval = 2000;

            if (
              !this.attributes[key].interval === "undefined" ||
              this.attributes[key].interval >= 1
            ) {
              interval = this.attributes[key].interval * 1000;
            }
            // set the task for the constant sending
            if (this.attributes[key].mode === "random") {
              tasks[key] = setInterval(() => {
                let min = parseFloat(this.attributes[key].randomMin);
                let max = parseFloat(this.attributes[key].randomMax);
                let payload = {
                  senderId: this.deviceId,
                  deviceId: this.deviceId,
                  type: "attributes",
                  value: { [key]: Math.random() * (max - min) + min }
                };

                this.$axios
                  .post("https://api.preview.oltd.de/v1/data-ingest", payload)
                  .then(function(response) {
                    console.log(
                      "Sent --> " + key + " with " + payload.value[key]
                    );
                  });
              }, this.attributes[key].interval * 1000);
            }
          } else {
            clearInterval(tasks[key]);
            delete tasks[key];
          }

          //pattern
          if (
            this.attributes[key].modeState === true &&
            deviceState === true &&
            this.attributes[key].type === "number"
          ) {
            let interval = 2000;

            if (
              !this.attributes[key].interval === "undefined" ||
              this.attributes[key].interval >= 1
            ) {
              interval = this.attributes[key].interval * 1000;
            }
            // set the task for the constant sending
            if (this.attributes[key].mode === "pattern") {
              // initialize run var
              this.attributes[key].i = -1;

              let pattern = this.attributes[key].pattern.replace(/[.,]/gi, ".");
              pattern = pattern.split("#");
              pattern = pattern.map(value => parseFloat(value));

              tasks[key] = setInterval(() => {
                if (this.attributes[key].i === pattern.length - 1) {
                  this.attributes[key].i = 0;
                } else {
                  this.attributes[key].i++;
                }

                let payload = {
                  senderId: this.deviceId,
                  deviceId: this.deviceId,
                  type: "attributes",
                  value: { [key]: pattern[this.attributes[key].i] }
                };

                this.$axios
                  .post("https://api.preview.oltd.de/v1/data-ingest", payload)
                  .then(function(response) {
                    console.log(
                      "Sent --> " + key + " with " + payload.value[key]
                    );
                  });
              }, this.attributes[key].interval * 1000);
            }
          } else {
            clearInterval(tasks[key]);
            delete tasks[key];
          }
        });
      },
      deep: true
    }
  }
};
</script>

<style>
.float-r {
  float: right;
}
.p-1 {
  padding: 10px;
}
.mtb-2 {
  margin: 20px 0;
}
</style>

