<template>
  <div v-if="deviceType">
    
    <md-content class="md-elevation-1 md-primary">
      <md-toolbar class="md-accent">
        <md-switch v-model="device.sendState" class="md-primary float-r"></md-switch>
        <h3 class="md-title">{{ device.info.name }} </h3>
      </md-toolbar>
      <md-tabs class="md-primary" md-alignment="fixed" >
        <md-tab id="tab-attributes" md-label="Attributes" v-if="deviceType.data.data.schema.attributes">         
          <md-toolbar class="md-default">
            <h3 class="md-title">Number Attributes</h3>
          </md-toolbar>
          <number-attr v-if="deviceType.data.data.schema.attributes" :deviceState="device.sendState" :deviceId="device.id" :attributes="deviceType.data.data.schema.attributes"></number-attr>

          <md-toolbar class="md-default">
            <h3 class="md-title">Boolean Attributes</h3>
          </md-toolbar>
          <boolean-attr v-if="deviceType.data.data.schema.attributes" :deviceState="device.sendState" :deviceId="device.id" :attributes="deviceType.data.data.schema.attributes"></boolean-attr>
        </md-tab>

        <md-tab id="tab-actions" md-label="Actions" >

           {{Object.entries(deviceType.data.data.schema.actions)}}

        </md-tab>

        <md-tab id="tab-events" md-label="Events" >

           Not available right now
          
        </md-tab>

        <md-tab id="tab-configuration" md-label="Configuration" >

           {{Object.entries(deviceType.data.data.schema.configuration)}}

        </md-tab>
      </md-tabs>  
    </md-content>
  </div>
</template>

<script>
import NumberAttr from "./NumberAttr";
import BooleanAttr from "./BooleanAttr";

export default {
  components: { NumberAttr, BooleanAttr },
  props: ["device", "deviceType"],
  data() {
    return {
      test: null,
      attributes: Object
    };
  },
  created() {
    this.device.deviceState = false;
  },
  methods: {}
};
</script>
<style>
.float-r {
  float: right;
}
</style>
