<template>
  <div id="app" class="">
    <md-card>
      <md-card-header>
        <div class="md-title">Datasimulator OLT</div>
      </md-card-header>
      <md-card-content>
       
        <router-view/>         
      </md-card-content>
    </md-card>
  
  </div>
</template>

<script>
export default {
  name: "App"
};
</script>
<style>
.p1 {
  padding: 10px 0;
}
</style>
